<div class='tituloPagina'>
    Agregar nuevos entes
</div>

<!-- Formulario Filtro de busqueda, se ve cuando la accion es Listado(busqueda/listado)-->
<form>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label">Origen:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <select class="form-control">
                        <option>PSRM</option>
                        <option>OTAX</option>
                        <option>GANT</option>
                    </select>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="nroBanco">Banco (numero):</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="nroBanco" type="text" class="form-control" maxlength="55" />
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="nroBanco">Banco (nombre):</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="nroBanco" type="text" class="form-control" maxlength="55" />
                </div>

            </div>

            <hr>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="nroBanco">Comisión:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="nroBanco" type="text" class="form-control" maxlength="55" />
                </div>
            </div>


        </div>
        
        <hr>

        <div>
            <h6>Cabecera General</h6>
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="clave1tagGeneral">Clave:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="clave1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="valor1tagGeneral">Valor:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="valor1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="clave1tagGeneral">Clave:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="clave1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="valor1tagGeneral">Valor:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="valor1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                

                
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="clave1tagGeneral">Clave:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="clave1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="valor1tagGeneral">Valor:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="valor1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>
            </div>
        </div>


        <div>
            <h6>Cabecera Pagos</h6>
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="clave1tagGeneral">Clave:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="clave1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="valor1tagGeneral">Valor:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="valor1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="clave1tagGeneral">Clave:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="clave1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="valor1tagGeneral">Valor:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="valor1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                

                
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="clave1tagGeneral">Clave:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="clave1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="valor1tagGeneral">Valor:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="valor1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>
            </div>
        </div>



        <div>
            <h6>Cabecera Sucursal</h6>
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="clave1tagGeneral">Clave:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="clave1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="valor1tagGeneral">Valor:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="valor1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="clave1tagGeneral">Clave:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="clave1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="valor1tagGeneral">Valor:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="valor1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                

                
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="clave1tagGeneral">Clave:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="clave1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="valor1tagGeneral">Valor:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="valor1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>
            </div>
        </div>


        <div>
            <h6>Cabecera Detalle Pago</h6>
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="clave1tagGeneral">Clave:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="clave1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="valor1tagGeneral">Valor:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="valor1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="clave1tagGeneral">Clave:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="clave1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="valor1tagGeneral">Valor:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="valor1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                

                
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="clave1tagGeneral">Clave:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="clave1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="valor1tagGeneral">Valor:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="valor1tagGeneral" type="text" class="form-control" maxlength="55" />
                </div>
            </div>
        </div>


        <div>
            <!-- Botones -->
            <div class="row justify-content-center botones">
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-add"> </i> Agregar ente
                </button>
            </div>
        </div>
    </div>
</form>