<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>¡Ente agregado con éxito!</strong> El mismo se podrá visualizar en la sección Configurar Entes.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<form [formGroup]="addEnteForm" (ngSubmit)="agregarEnte()">
    <div class='tituloPagina'>
        Agregar nuevos entes
    </div>

    <hr>

    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label">Origen:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <select class="form-select" formControlName="origen">
                        <option>PSRM</option>
                        <option>OTAX</option>
                        <option>GANT</option>
                    </select>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="nroBanco">Banco (numero):</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="nroBanco" type="text" class="form-control" maxlength="55" formControlName="nroBanco"/>
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="nroBanco">Banco (nombre):</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="nroBanco" type="text" class="form-control" maxlength="55" formControlName="nombreBanco"/>
                </div>

            </div>

            <br>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="nroBanco">Comisión débito:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="nroBanco" type="text" class="form-control" maxlength="55"formControlName="comisionDeb" placeholder="%"/>
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="nroBanco">Comisión crédito:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="nroBanco" type="text" class="form-control" maxlength="55" formControlName="comisionCred" placeholder="%"/>
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="nroBanco">Comisión presencial:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="nroBanco" type="text" class="form-control" maxlength="55" formControlName="comisionPres" placeholder="% - Solo PF y RP"/>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="nroBanco">Lote:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="nroBanco" type="text" class="form-control" maxlength="55" formControlName="lote"/>
                </div>

                <div class="col-sm-4 col-md-2">
                    <label class="col-form-label" for="nroBanco">Nro de comercio:</label>
                </div>
                <div class="col-sm-8 col-md-2">
                    <input id="nroBanco" type="text" class="form-control" maxlength="55" formControlName="nroComercio"/>
                </div>
            </div>


        </div>

        <hr>
        
        <h6><b>Seleccionar los campos que desea generar en cada cabecera en el archivo XML final.</b></h6>
        <h6>Con el fin de parametrizar los atributos, seleccionar la opción correspondiente en las siguientes preguntas:</h6>
        
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <label class="col-form-label" for="question-codbarra">¿Manejo de codigos de barras en input/output?</label>
            </div>
            <div class="col-sm-8 col-md-2">
                <select class="form-select" formControlName="question-codbarra">
                    <option>Si</option>
                    <option>No</option>
                </select>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-4 col-md-5">
                <label class="col-form-label" for="question-atr">¿Atributo 'totalImpAnulacionTimbradoras' en alguna cabecera?</label>
            </div>
            <div class="col-sm-8 col-md-2">
                <select class="form-select" formControlName="question-atr">
                    <option>Si</option>
                    <option>No</option>
                </select>
            </div>
        </div>

        <!--<div class="columna">
            <h6>Cabecera General</h6>
            <div class="form-check col-sm-8 col-md-8" *ngFor="let valor of camposTagGeneral">
                <input class="form-check-input" type="checkbox" name="{{ valor.campo }}" (change)="onchange()" [(ngModel)]="valor.seleccionado" formControlName="tagGeneral">
                <label class="form-check-label" for="inlineCheckbox">
                    {{ valor.campo }}
                </label>
            </div>
        </div>

        <div class="columna">
            <h6>Cabecera Sucursal</h6>
            <div class="form-check col-sm-8 col-md-8" *ngFor="let valor of camposTagSucursal">
                <input class="form-check-input" type="checkbox" name="{{ valor.campo }}" (change)="onchange()" [(ngModel)]="valor.seleccionado" formControlName="tagSucursal">
                <label class="form-check-label" for="inlineCheckbox">
                    {{ valor.campo }}
                </label>
            </div>
        </div>

        <div class="columna">
            <h6>Cabecera Pagos</h6>
            <div class="form-check col-sm-8 col-md-8" *ngFor="let valor of camposTagPagos">
                <input class="form-check-input" type="checkbox" name="{{ valor.campo }}" (change)="onchange()" [(ngModel)]="valor.seleccionado" formControlName="tagPagos">
                <label class="form-check-label" for="inlineCheckbox">
                    {{ valor.campo }}
                </label>
            </div>
        </div>

        <div class="columna">
            <h6>Cabecera Detalle Pago</h6>
            <div class="form-check col-sm-8 col-md-8" *ngFor="let valor of camposTagDP">
                <input class="form-check-input" type="checkbox" name="{{ valor.campo }}" (change)="onchange()" [(ngModel)]="valor.seleccionado" formControlName="tagDP">
                <label class="form-check-label" for="inlineCheckbox">
                    {{ valor.campo }}
                </label>
            </div>
        </div>-->


        <br>

    </div>

    
    <!-- Botones -->
    <div class="justify-content-center botones">
        <button type="submit" class="btn btn-primary" (click)="agregarEnte">
            <i class="fas fa-add"> </i> Agregar ente
        </button>
    </div>
    

</form>