<div class='tituloPagina'>
  Generación de XML para Otros Entes
</div>

<!-- Formulario Filtro de busqueda, se ve cuando la accion es Listado(busqueda/listado)-->
<form [formGroup]="formOtrosEntes" (ngSubmit)="obtenerXMLGeneradoEntes()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-2">
        <label class="col-form-label">Origen:</label>
      </div>
      <div class="col-sm-8 col-md-2">
        <select class="form-select" formControlName="origen">
          <option>PSRM</option>
          <option>OTAX</option>
          <option>GANT</option>
        </select>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-4 col-md-2">
        <label class="col-form-label">Nro banco:</label>
      </div>
      <div class="col-sm-8 col-md-2">
        <select [(ngModel)]="tipo" class="form-select" formControlName="banco">
          <option *ngFor="let ente of entes" [value]="ente.nroEnte">{{ ente.nroEnte }}</option>
          <!--<option>00935</option>
          <option>00216</option>
          <option>00202</option>
          <option>00082</option>
          <option>00079</option>-->
        </select>

      </div>

      <div>{{tipo | json}}</div>


      <div class="col-sm-4 col-md-2">
        <label class="col-form-label">Comisión:</label>
      </div>
      <div class="col-sm-8 col-md-2">
        <select class="form-select" formControlName="comision">
          <option>Por defecto</option>
          <option>Credito</option>
          <option>Debito</option>
          <option>Credito y Débito</option>
        </select>
      </div>

      <div class="col-sm-4 col-md-2">
        <label class="col-form-label">Fecha de rendición:</label>
      </div>
      <div class="col-sm-8 col-md-2">
        <input type="text" class="form-control" id="fechaRendicion" formControlName="fechaRendicion" placeholder="DD/MM/AAAA" maxlength="10"/>
      </div>
    </div>


    <hr>

    <div *ngIf="tipo == '00935'">
      <div class="row">
        <div class="col-sm-4 col-md-1">
          <label class="col-form-label">Boletas:</label>
        </div>
        <div class="col-sm-8 col-md-2">
          <textarea cols="40" rows="10" class="form-control" formControlName="boletas"></textarea>
        </div>

        <div class="col-sm-4 col-md-1">
          <label class="col-form-label">Importes:</label>
        </div>
        <div class="col-sm-8 col-md-1">
          <textarea cols="40" rows="10" class="form-control" formControlName="importes"></textarea>
        </div>

        <div class="col-sm-4 col-md-1">
          <label class="col-form-label">Fec Pagos:</label>
        </div>
        <div class="col-sm-8 col-md-2">
          <textarea cols="40" rows="10" class="form-control" formControlName="fechasPagos"></textarea>
        </div>

        <div class="col-sm-4 col-md-1">
          <label class="col-form-label">Cant cuotas:</label>
        </div>
        <div class="col-sm-8 col-md-1">
          <textarea cols="40" rows="10" class="form-control" formControlName="cantCuotas"></textarea>
        </div>

        <div class="col-sm-4 col-md-1">
          <label class="col-form-label">Cuota actual:</label>
        </div>
        <div class="col-sm-8 col-md-1">
          <textarea cols="40" rows="10" class="form-control" formControlName="cuotaActuales"></textarea>
        </div>
      </div>
    </div>


    <div *ngIf="tipo == '00216' || tipo == '00202' || tipo == '00207' || tipo == '00934' || tipo == '00204' || tipo == '00214'">
      <div class="row">
        <div class="col-sm-4 col-md-1">
          <label class="col-form-label">Boletas:</label>
        </div>
        <div class="col-sm-8 col-md-2">
          <textarea cols="40" rows="10" class="form-control" formControlName="boletas"></textarea>
        </div>

        <div class="col-sm-4 col-md-1">
          <label class="col-form-label">Importes:</label>
        </div>
        <div class="col-sm-8 col-md-1">
          <textarea cols="40" rows="10" class="form-control" formControlName="importes"></textarea>
        </div>

        <div class="col-sm-4 col-md-1">
          <label class="col-form-label">Fec Pagos:</label>
        </div>
        <div class="col-sm-8 col-md-2">
          <textarea cols="40" rows="10" class="form-control" formControlName="fechasPagos"></textarea>
        </div>

        <div class="col-sm-4 col-md-1">
          <label class="col-form-label">Cant cuotas:</label>
        </div>
        <div class="col-sm-8 col-md-1">
          <textarea cols="40" rows="10" class="form-control" formControlName="cantCuotas"></textarea>
        </div>
      </div>
    </div>
    


    <div *ngIf="tipo == '00082' || tipo == '00079'">
      <div class="row">
        <div class="col-sm-4 col-md-1">
          <label class="col-form-label">Cod barra 1:</label>
        </div>
        <div class="col-sm-8 col-md-4">
          <textarea cols="40" rows="10" class="form-control" formControlName="codBarras1"></textarea>
        </div>

        <div class="col-sm-4 col-md-1">
          <label class="col-form-label">Cod barra 2 :</label>
        </div>
        <div class="col-sm-8 col-md-4">
          <textarea cols="40" rows="10" class="form-control"  formControlName="codBarras2"></textarea>
        </div>

        <div class="col-sm-4 col-md-1">
          <label class="col-form-label">Fec Pagos:</label>
        </div>
        <div class="col-sm-8 col-md-2">
          <textarea cols="40" rows="10" class="form-control"  formControlName="fechasPagos"></textarea>
        </div>

        <div class="col-sm-4 col-md-1">
          <label class="col-form-label">Cant cuotas:</label>
        </div>
        <div class="col-sm-8 col-md-1">
          <textarea cols="40" rows="10" class="form-control" formControlName="cantCuotas"></textarea>
        </div>



      </div>
    </div>







    <hr>

    <!-- Botones -->

    <div class="center botones" style="width: 33.33%;">
      <button type="submit" class="btn btn-primary" (click)="obtenerXMLGeneradoEntes">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg> Generar XML
      </button>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-plus"> </i>
        Verificar cantidad de registros cargados
      </button>
    </div>
  
  </div>

</form>